.kitten-card {
  width: 400px;
  height: 200px;
}

p{
  height: 50px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #c7c2c2;
  border: 1px solid #c7c2c2;
  padding: 10px 10px;
  color: #262626;
  font-size: 20px;
}

